@keyframes funky {
  0% {
    transform: scale(0.001, 0.01);
  }
  50% {
    transform: scale(1, 0.01);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes apparition {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}

@keyframes slightFadeIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: .1;
    transform: scale(1);
  }
}

@keyframes growDown {
  0% {
    transform: scale(1, 0) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translate(0, 50px);
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
