<section class="about">
  <div class="about__visual__wrapper">
    <img class="about__visual" src="/img/us.jpg" alt="Un trop cool selfie!" />
  </div>
  <div class="about__content">
    <span class="about__subtitle"><span class="about__subtitle__line line line--horizontal line--pink"></span> Cet automne ...</span>
    <h2 class="about__title">On va se marier <span class="about__emoji">🎉</span></h2>
    <p>C'est avec une immense joie qu'on vous annonce notre mariage! On tenait à célébrer notre union entourés de nos proches, histoire de marquer le coup comme il se doit!</p>
    <p>On espère que vous serez de la partie!</p>
  </div>
</section>
<div class="lines">
  <span class="line line--vertical line--pink"></span>
  <span>Le début de la journée</span>
  <span class="line line--vertical line--pink"></span>
</div>
