<section id="ceremony" class="ceremony">
  <div class="ceremony__content">
    <div class="ceremony__desc">
      <div class="ceremony__header">
        <h2 class="ceremony__title"><span class="title--highlight">La cérémonie à </span><br/>L'Abbaye de Dieleghem</h2>
        <span class="ceremony__sub">Le&nbsp;mariage,&nbsp;première&nbsp;partie<span class="line line--horizontal line--pink"></span></span>
      </div>
      <img class="ceremony__desc__visual" src="/img/abbaye.jpg" alt="Photo intérieure de l'Abbaye" />
      <p class="cap">Premier point de rendez-vous à 13h30 <a href="https://www.google.be/maps/place/Abdij+van+Dielegem/@50.8866902,4.3179739,17z" target="_blank">à l'Abbaye de Dieleghem</a> (à Jette) où sera célébré notre mariage civil. C'est dans ce charmant cadre que nous nous dirons "oui" ! Attention la commune n'attendra pas les retardataires :)</p>
      <p>Après la cérémonie et les premiers bisous, nous irons ensemble à deux pas de là afin de commencer les choses sérieuses : les&nbsp;festivités!</p>
    </div>
    <div class="ceremony__visual">
      <img src="/img/abbaye-vertical-sd.jpg" alt="Photo intérieure de l'Abbaye" />
    </div>
  </div>
</section>
<div class="lines">
  <span class="line line--vertical line--pink"></span>
  <span>C'est l'heure de faire la fête!</span>
  <span class="line line--vertical line--pink"></span>
</div>
