<section id="ceremony" class="ceremony">
  <div class="ceremony__content">
    <div class="ceremony__desc">
      <div class="ceremony__header">
        <h2 class="ceremony__title"><span class="title--highlight">La cérémonie à </span><br/>L'Abbaye de Dieleghem</h2>
        <span class="ceremony__sub">Le&nbsp;mariage,&nbsp;première&nbsp;partie<span class="line line--horizontal line--pink"></span></span>
      </div>
      <img class="ceremony__desc__visual" src="/img/abbaye.jpg" />
      <p class="cap">C'est à l'Abbaye de Dieleghem que se déroulera la cérémonie du mariage. Sur les coups de 13:30, si le marié n'a pas paniqué d'ici là, les représentants communaux scelleront l'union d'un beau discours suivi des doux "oui".</p>
      <p>Après la cérémonie et les premières embrassades nous irons ensemble à deux pas de là afin de commencer les choses sérieuses: les festivités!</p>
    </div>
    <div class="ceremony__visual">
      <img src="/img/abbaye-vertical-sd.jpg" alt="Photo intérieure de l'Abbaye" />
    </div>
  </div>
</section>
<span class="line line--central line--vertical line--pink"></span>
