<div class="fireworks">
  <div class="firework firework--1">
    <span class="firework__outer">
      <span class="firework__inner"></span>
    </span>
  </div>
  <div class="firework firework--2">
    <span class="firework__outer">
      <span class="firework__inner"></span>
    </span>
  </div>
  <div class="firework firework--3">
    <span class="firework__outer">
      <span class="firework__inner"></span>
    </span>
  </div>
  <div class="firework firework--4">
    <span class="firework__outer">
      <span class="firework__inner"></span>
    </span>
  </div>
  <div class="firework firework--5">
    <span class="firework__outer">
      <span class="firework__inner"></span>
    </span>
  </div>
  <div class="firework firework--6">
    <span class="firework__outer">
      <span class="firework__inner"></span>
    </span>
  </div>
</div>
