<section id="gifts" class="gift">
  <div class="gift__card">
    <h2 class="title">Écrire nos <span class="title--highlight">prochains souvenirs</span></h2>
    <span class="gift__node">∞</span>
    <p>Le plus beau cadeau que vous puissiez nous faire est votre présence au mariage. Pour nous il s'agit avant tout de célébrer notre amour entourés de nos proches!</p>
    <p>Si vous souhaitez nous aider à accomplir nos futurs projets, nous avons décidé de créer un compte pour financer notre voyage de Noces. Une urne sera également présente le jour J pour y glisser vos cartes et petites attentions :)</p>
    <p>
      <strong class="gift__account">IBAN BE88 6511 5849 1841</strong>
    </p>
  </div>
</section>
