<section id="gifts" class="gift">
  <div class="gift__card">
    <h2 class="title">Liste de mariage <span class="title--highlight">et petites attentions</span></h2>
    <span class="gift__node">∞</span>
    <p>Il va sans dire que le plus beau cadeau que vous puissiez nous faire est votre présence au mariage. Pour nous il s'agit avant tout de célébrer notre amour entourés de nos amis les plus proches.</p>
    <p>Si vous souhaitez malgré tout nous aider dans notre nouvelle vie, nous avons décidé de créer une cagnotte en vue de notre voyage de noces!</p>
    <p>
      <strong class="gift__account">IBAN BE88 6511 5849 1841</strong>
    </p>
  </div>
</section>
