<section id="party" class="party">
  <div class="party__wrapper">
    <img class="party__visual" src="/img/rivieren.jpg" />
    <div class="party__content">
      <div class="party__header">
        <span>Le mariage, deuxième partie</span>
        <h2 class="party__title"><span class="title--highlight">Les Festivités au</span><br/> Château de Rivieren</h2>
      </div>
      <div class="party__desc">
        <p class="cap">Après tant d'émotions, nous aurons le plaisir de nous retrouver <a href="https://www.google.be/maps/place/Château+de+Rivieren/@50.8767285,4.3088819,17z/" target="_blank">au Château de Rivieren</a> à Ganshoren pour le reste de la journée. Bulles et petites tueries y seront dégustées tout l'après-midi.</p><p>L'architecture du lieu permettra retrouvailles et intimité, ainsi que des ballades romantiques au bord de l'eau. Les plus téméraires pourront même faire de la barque!</p><p>En début de soirée nous découvrirons le buffet "Saveurs du Monde" concocté avec amour par Fatima. Plaisir des yeux et des papilles garanti! Enfin, nous comptons sur vous pour enflammer la piste de danse et vous déhancher jusqu'au bout de la nuit!</p><p>Notez que le domaine du Château comprend un parking et qu'il est accessible en transports.</p>
      </div>
    </div>
  </div>
  <div class="party__bg"></div>
</section>
<span class="line line--central line--vertical line--pink"></span>
