<!-- party -->
<section id="party" class="party">
  <div class="party__wrapper">
    <img class="party__visual" src="/img/rivieren.jpg" />
    <div class="party__content">
      <div class="party__header">
        <span>Le mariage, deuxième partie</span>
        <h2 class="party__title"><span class="title--highlight">La Fête au</span><br/> Château de Rivieren</h2>
      </div>
      <div class="party__desc">
        <p class="cap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tellus nisl, sed facilisis metus laoreet non. Quisque ac diam iaculis turpis gravida ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra odio a massa eleifend gravida. Etiam nec hendrerit mauris. Suspendisse tempor id massa fringilla volutpat. Curabitur ut massa nibh. Curabitur eleifend venenatis eros sit amet dapibus. Duis vestibulum tortor ut est aliquam aliquet. Sed egestas, sem eu tincidunt auctor, nibh libero pharetra magna, non posuere arcu odio in velit.</p>
      </div>
    </div>
  </div>
  <div class="party__bg"></div>
</section>
<span class="line line--central line--vertical line--pink"></span>
