<!-- party -->
<section id="party" class="party">
  <div class="party__wrapper">
    <img class="party__visual" src="/img/rivieren-2.jpg" />
    <div class="party__content">
      <div class="party__header">
        <span>Le mariage, partie deux</span>
        <h2 class="party__title"><span class="title--highlight">La Fête</span><br/> Château de Rivieren</h2>
      </div>
      <div class="party__desc">
        <p class="cap">Le domaine se trouve donc également pas très de l'avenue de l'Expo, il est donc possible de s'y rendre en transport. Mais pas de discrimination : un parking sera également disponible pour ceux qui viendront en voiture! On dégustera vers les coups de 15h le vin d'honneur, éventuellement à l'extérieur si la météo le permet, le lieu étant entouré d'un parc et d'un plan d'eau. Des jeux en bois et autres tables de ping-pong sont également à prévoir, ainsi que différentes sortes de zakouskis afin de tenir jusqu'au diner. Celui-ci est prévu vers 19h. C'est une fois rassasié que les tables se libereront pour laisser alors place à la piste de danse!</p>
      </div>
    </div>
  </div>
  <div class="party__bg"></div>
</section>
<span class="line line--central line--vertical line--pink"></span>
