<section id="rsvp" class="rsvp">
  <span class="line line--central line--vertical line--pink"></span>
  <form class="register js--register">
    <div class="register__inner">
      <h2 class="register__title">Confirmer sa présence</h2>
      <input class="field" name="name" type="text" placeholder="Votre nom(s)" required>
      <div class="register__people">
        <select name="adults" class="register__people__list">
          <option value="1">1 Adulte</option>
          <option value="2">2 Adultes</option>
          <option value="3">3 Adultes</option>
          <option value="4">4 Adultes</option>
          <option value="5">+5 Adultes</option>
        </select>
        <select name="kids" class="register__people__list">
          <option value="0">0 Enfant</option>
          <option value="1">1 Enfant</option>
          <option value="2">2 Enfants</option>
          <option value="3">3 Enfants</option>
          <option value="4">4 Enfants</option>
          <option value="5">+5 Enfants</option>
        </select>
      </div>
      <textarea class="field" name="msg" rows="6" placeholder="Message optionnel (musiques souhaitées, allergies, ...)"></textarea>
      <div class="register__confirms">
        <button class="register__btn btn btn--secondary js--button" type="submit">Confirmer</button>
      </div>
    </div>
    <div class="register__success">Woohoo! À bientôt au mariage!</div>
  </form>
  @@include('./_fireworks.html')
</section>
