<section id="venue" class="program">
  <div class="schedule">
    <h2 class="program__title">Le programme <br/><span class="title--highlight">du samedi 14 octobre 2017</span></h2>
    <div class="schedule__event">
      <span class="schedule__event__time">13.30</span>
      <div>
        <h3 class="schedule__event__title">La cérémonie <br/><span class="title--highlight">Abbaye de Dieleghem</span></h3>
        <address>Rue Jean Tiebackx 14, 1090 Jette</address>
      </div>
      <a href="https://www.google.be/maps/place/Rue+Jean+Tiebackx+14,+1090+Jette/@50.8864751,4.3177709,17z" target="_blank" class="schedule__event__map">Voir le plan &#10697;</a>
    </div>
    <span class="schedule__separator">—</span>
    <div class="schedule__event">
      <span class="schedule__event__time">15.00</span>
      <div>
        <h3 class="schedule__event__title">La fête <br/><span class="title--highlight">Château de Rivieren</span></h3>
        <address>Drève du Château 66, 1083 Ganshoren</address>
      </div>
      <a href="https://www.google.be/maps/place/Drève+du+Château+66,+1083+Ganshoren/@50.8767251,4.3110759,17z/" target="_blank" class="schedule__event__map">Voir le plan &#10697;</a>
    </div>
  </div>
  <a href="https://www.google.be/maps/dir/Rue+Jean+Tiebackx+14,+1090+Jette/Drève+du+Château+66,+1083+Ganshoren/@50.8825624,4.307102,15z/" target="_blank">
    <img class="program__map" src="/img/map.jpg" alt="L'itinéraire" />
  </a>
</section>
