html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
}

main {
  padding: 0 20px;
}

img {
  max-width: 100%;
}

.wrapper,
%wrapper {
  max-width: 1724px;
  margin: 0 auto;
}
